@tailwind base;
@tailwind components;
@tailwind utilities;

/* #post {
	-webkit-box-shadow: 0px 0px 39px -11px rgba(156, 158, 169, 1);
	-moz-box-shadow: 0px 0px 39px -11px rgba(156, 158, 169, 1);
	box-shadow: 0px 0px 39px -11px rgba(156, 158, 169, 1);
} */
* {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

.disable-scroll {
	position: fixed;
	overflow-y: scroll;
	width: 100vw;
}
